version: '2.0'

services:

  wordpress:
    build: .
    ports:
      - 9999:80
    restart: always
    depends_on:
      - mysql
    environment:
      WORDPRESS_DB_PASSWORD: csictf{c0nt4ct_m3_0nc3_ur_d0n3}
      WORDPRESS_DB_USER: csictf
  
  mysql:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: dX2f3ul45OQ90S4TBBm8U7o5ozjTLlP9iyepezU0
      MYSQL_USER: csictf
      MYSQL_DATABASE: csictf
      MYSQL_PASSWORD: csictf{c0nt4ct_m3_0nc3_ur_d0n3}
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
